body {
  background: #1f1f2b;
  background: -moz-linear-gradient(45deg, #1f1f2b 0%, #3d3c4e 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #1f1f2b), color-stop(100%, #3d3c4e));
  background: -webkit-linear-gradient(45deg, #1f1f2b 0%, #3d3c4e 100%);
  background: -o-linear-gradient(45deg, #1f1f2b 0%, #3d3c4e 100%);
  background: -ms-linear-gradient(45deg, #1f1f2b 0%, #3d3c4e 100%);
  background: linear-gradient(45deg, #1f1f2b 0%, #3d3c4e 100%) !important;
}
.pane,
.view {
  background: transparent;
  background-color: transparent;
  background: #1f1f2b;
  background: -moz-linear-gradient(45deg, #1f1f2b 0%, #3d3c4e 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #1f1f2b), color-stop(100%, #3d3c4e));
  background: -webkit-linear-gradient(45deg, #1f1f2b 0%, #3d3c4e 100%);
  background: -o-linear-gradient(45deg, #1f1f2b 0%, #3d3c4e 100%);
  background: -ms-linear-gradient(45deg, #1f1f2b 0%, #3d3c4e 100%);
  background: linear-gradient(45deg, #1f1f2b 0%, #3d3c4e 100%) !important;
}
.item,
.item-content {
  background-color: transparent !important;
  border-color: #353744;
  color: #aaaab6;
}
.item h3 {
  color: #aaaab6;
}
